body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image: url(backgroundprincipal.jpg);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
  background-color: black;

  }

#abertura {
  padding: 5px;
  margin-left: 15px;
  transition: all 0.3s;
}

.adoteaqui {
  display: flex;
  background-color: black;
  height: 100%;
  align-items: center;
  width: 40%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
}

.menu {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  width: 40%;
  align-items: center;
  padding-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 60px;
}

a {
  padding: 5px;
}

@media (max-width: 700px) {
.adoteaqui {
         display: none;
     }
.menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 110px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100%;   
  text-align: center;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: white;
  background-size: cover;
  background-image: url(backgroundmedia.jpg);
  transition: 0.5s;

}}

#abertura:hover {
  transform: scale(1.3);
 }

.elem1:hover {
  color: yellow;
  font-size: 15px;
}

.elem2:hover {
  color: yellow;
  font-size: 15px;
}

.elem3:hover {
  color: yellow;
  font-size: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100%;   
  text-align: center;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}